img {
  display: block;
  margin: 0 auto;
  margin-top: auto;
}

body {
  overflow-x: hidden;

  scrollbar-width: none; /* Firefox */
  background-image: url("/assets/sky.jfif");
  background-size: cover;
}
