img {
  display: block;
  margin: 0 auto;
  margin-top: auto;
}

body {
  overflow-x: hidden;

  scrollbar-width: none; /* Firefox */
  background-image: url("/assets/sky.jfif");
  background-size: cover;
}

#mars{
  width: 80%;
  height: 100%;
}
#jorden{
  width: 60%;
  height: 100%;
  margin-top: 20px;

}

#uranus,#saturn,#venus,#merkur{
  width: 83%;
  height: 100%;


}
#neptun{
  width: 83%;
  height: 100%;
margin-top: 30px;

}