img {
  display: block;
  margin: 0 auto;
  margin-top: auto;
}

body {
  overflow-x: hidden;

  scrollbar-width: none; /* Firefox */
  background-image: url("/assets/sky.jfif");
  background-size: cover;
}

#mars{
  margin-top: 5%;
  width: 50%;
  height: 100%;
}
#jorden{
  width: 40%;
  height: 80%;
  margin-left: 500px;

}
#jordAstro{
  width: 85%;
  height:100%;
}

#uranus,#saturn,#venus,#merkur{
  width: 83%;
  height: 100%;


}
#neptun{
  width: 83%;
  height: 100%;
margin-top: 30px;

}